In [17]:
# importing the modules that will be used in this project
import pandas as pd
import numpy as np

# Adding Data

In [18]:
# reading in data from local csv using pandas read_csv function
full_weather_df = pd.read_csv('KKYFORTT2.csv')

# displaying the top 5 rows of the newly created data frame to ensure it was loaded correctly. 
full_weather_df.head()

,Date,Time,Temperature_F,Dew_Point_F,Humidity_%,Wind,Speed_mph,Gust_mph,Pressure_in,Precip_Rate_in,Precip_Accum_in,UV,Solar_w/m2
0,2022/01/01,12:04 AM,63.5,61.2,92.0,WNW,4.8,6.9,30.14,0.00,0.00,0.0,0.0
1,2022/01/01,12:09 AM,63.4,61.2,93.0,WNW,3.9,6.1,30.14,0.00,0.00,0.0,0.0
2,2022/01/01,12:14 AM,63.1,61.1,94.0,WNW,2.8,4.5,30.14,0.05,0.01,0.0,0.0
3,2022/01/01,12:19 AM,62.9,60.9,94.0,WSW,3.5,5.1,30.14,0.05,0.01,0.0,0.0
4,2022/01/01,12:24 AM,62.6,60.6,94.0,West,2.9,4.6,30.14,0.05,0.01,0.0,0.0

In [19]:
# converting the UV index colum from a float to an int
full_weather_df["UV"].index = full_weather_df["UV"].astype(int)

In [20]:
# applying groupby() function to group the data by day and take the mean of the measurements I am intersted in for this project. 
daily_weather_df = full_weather_df.groupby('Date')["Temperature_F", "Humidity_%", "Pressure_in", "Precip_Rate_in", "UV"].mean()

daily_weather_df.head()

C:\Users\rebec\AppData\Local\Temp\ipykernel_19488\883315743.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  daily_weather_df = full_weather_df.groupby('Date')["Temperature_F", "Humidity_%", "Pressure_in", "Precip_Rate_in", "UV"].mean()

            Temperature_F  Humidity_%  Pressure_in  Precip_Rate_in        UV
Date
2022/01/01      55.932292   98.729167    30.077917        0.083819  0.000000
2022/01/02      35.373958   95.878472    30.340139        0.012118  0.052083
2022/01/03      27.217422   80.940767    30.698780        0.000000  0.512195
2022/01/04      31.877431   80.659722    30.557049        0.000000  0.475694
2022/01/05      40.326042   66.562500    30.220764        0.000000  0.538194

# Cleaning the Data
## Cleaning the First Dataset

In [23]:
# converting the columns from floats to ints using a for loop

columns = ["Temperature_F", "Humidity_%", "Pressure_in", "Precip_Rate_in", "UV"]
for x in columns:
    daily_weather_df[x] = daily_weather_df[x].apply(np.int64)

daily_weather_df.head()

            Temperature_F  Humidity_%  Pressure_in  Precip_Rate_in  UV
Date
2022/01/01             55          98           30               0   0
2022/01/02             35          95           30               0   0
2022/01/03             27          80           30               0   0
2022/01/04             31          80           30               0   0
2022/01/05             40          66           30               0   0